<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="MyGet" value="https://www.myget.org/F/intechinfo-preview/api/v3/index.json" protocolVersion="3" />
    </packageSources>
    <disabledPackageSources>
        <add key="Package source 1" value="true" />
    </disabledPackageSources>
</configuration>